body {
    background: #508896;
}

header {
    background-color: #0c4250;
}

input[type="search"]::placeholder {
    color: #70c8b0;
}

input[type="search"] {
    border: 2px solid #70c8b0; 
    border-radius: 5px; 
    padding: 8px;
}

li a {
    color: #8ac6b6 !important;
}

.card {
    background-color: #b2d8ce;
}